.cart-header{
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 3fr 1fr;
  padding: 22px 0;
  background-color:#EAEFF2;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  
  letter-spacing: 0.2em;
  text-transform: uppercase;

  @media (max-width: $mobile){
    height: 1px;
    padding: 0;
    // всей текст який в шапці приховуємо
    // & - вибрати даний селектор, як хедер і після нього вибрати всі елементи по рівню вкладеності
    & > * {
      display: none;
    }
  }
}

.cart-header__title{
grid-column-start: 2;
}

.cart-header__count{

}

.cart-header__cost{

}