/*section{*/
/*    margin-top: 20px;*/
/*}*/

.register{
    margin: 0 auto;
    display: grid;
    width: 400px;
}

.table img{
    
    width: 400px;
    margin: 0 auto;
    display: block;
}

.table h3{
    margin: 10px 0 10px 0;
    text-align: center;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: -0.05em;
    color: #1F2533;   
}

.register{
    padding: 20px;
    border: 2px solid #70737C;
    border-radius: 8%;
    background: #23bf35;
}

.register button{
  border: 2px solid #70737C;
  padding: 5px;
  border-radius: 32px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
    color: #1F2533;
  cursor: pointer;
}

.register label{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 38px;
    letter-spacing: -0.05em;
    color: #1F2533;
}

.register input{
    padding: 5px;
    border: 0;
    border-radius: 40px;
}

.form-check-input{
    padding: 0;
    border: 2px;
    border-radius: 0;
    
}

.form-check-label{
   
    align-self: center;
}